<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Manage Holding</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="1" size-lg="2" size-xl="3"></ion-col>
      <ion-col size="12" size-md="10" size-lg="8" size-xl="6">
        <ion-list>
          <ion-item *ngFor="let holding of holdings; trackBy: holdingTrackById" style="padding-left: 0;">
            <ion-label>
              <h3>{{holding.code}} - {{holding.side}} - {{holding.quantity | number:'1.0'}} ({{holding.fundName}})<span class="ion-float-right">${{holding.gross | number:'1.2-2'}}</span></h3>
              <p>HSCEI: {{holding.hsce | number:'4.2-2'}} <span class="ion-float-right">{{holding.date | date: 'yyyy-MM-dd' }}</span></p>
            </ion-label>
            <ion-button fill="clear" slot="end" (click)="confirmDelete(holding)"><ion-icon name="trash"></ion-icon></ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size-md="1" size-lg="2" size-xl="3"></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
