<ion-app>
    <ion-menu class="menu" contentId="main">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>THC Utils</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-menu-toggle auto-hide="false">
          <ion-list>
            <ion-item (click)="this.router.navigate(['/home'])">
              <ion-label>Home</ion-label>
              <ion-icon name="home-outline" slot="end"></ion-icon>
            </ion-item>
            <ion-item *ngIf="!isAuthenticated()" (click)="login()">
              <ion-icon name="log-in-outline" slot="end"></ion-icon>
              <ion-label>Login</ion-label>
            </ion-item>
            <ion-item *ngIf="isAuthenticated()" (click)="logout()">
              <ion-icon name="log-out-outline" slot="end"></ion-icon>
              <ion-label>Logout</ion-label>
            </ion-item>

            <app-menu-item link="/stock-full-quote" title="Full Quote"></app-menu-item>

            <ion-list-header><ion-label>Stock Management</ion-label></ion-list-header>
            <app-menu-item link="/stock-create-holding" title="Create Holding"></app-menu-item>
            <app-menu-item link="/stock-manage-holding" title="Manage Holding"></app-menu-item>
            <app-menu-item link="/stock-manage-fund" title="Manage Fund"></app-menu-item>
          </ion-list>
        </ion-menu-toggle>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main"></ion-router-outlet>

</ion-app>
